{%load code%}
<h1>Chose project from top bar or table on left side of page with directorys and files too see more information.</h1>
<p>Its organized like a file system. Structure of files:</p>
<!-- <pre>
 _ __  _   _| |__ | |_ ___  _ __
| '_ \| | | | '_ \| __/ _ \| '_ \
| |_) | |_| | | | | || (_) | | | |
| .__/ \__, |_| |_|\__\___/|_| |_|
|_|    |___/
</pre> -->
<!-- <pre>
#####  #   # ##### #    #  ####  #    #
#    #  # #    #   #    # #    # ##   #
#    #   #     #   ###### #    # # #  #
#####    #     #   #    # #    # #  # #
#        #     #   #    # #    # #   ##
#        #     #   #    #  ####  #    #

</pre> -->
<pre>
/
|   about_page.html
│
└───projects
│   │   # info about my projects
│   │   # if it startswith W_*** - it project i use in my work
│   │   ...
│   
└───snipets
|    │   # examples of snipets
│    │   ...
│    └───python
│    |   # files
│    |   ...
│    └───django
│    |   # files
│    |   ...
│    └───SQL
│    |   # files
│    |   ...
│   
└───skils
│   # my skils
│   ...
</pre>
